<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312267893056-svuf9ds8mo5qfho1jc0jei60hjc26b2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312267893056-svuf9ds8mo5qfho1jc0jei60hjc26b2r</string>
	<key>API_KEY</key>
	<string>AIzaSyBuYoq-V-2AcaHZHj1pp2YxoAHhRLcckLs</string>
	<key>GCM_SENDER_ID</key>
	<string>312267893056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.capybara.capybara.capybara</string>
	<key>PROJECT_ID</key>
	<string>capybara-1-b153d</string>
	<key>STORAGE_BUCKET</key>
	<string>capybara-1-b153d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312267893056:ios:dfdafcfac1555cfdf3b2a5</string>
</dict>
</plist>